.fondoreuniones{
    background-image: url("https://i.ibb.co/Srf3mHC/CAPACITACIONES.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenCarrucel{
    width: 100% !important;
    padding-bottom: 20px;

}

.contenedorCarrucel{
    padding: 10px 80px;
    text-align: start;
    overflow-y: scroll;
    scroll-behavior: unset;
    
}

.encabezadoCelProgramas{
    visibility: hidden;
    display: none;
    background-image: url("../imagenes/imagenesDeFondoRecortadas/capacitaciones\ faja.png");
    height: 40px ;
    margin: 15px;
    border: 1px black solid;
    text-align: center;
    

    
}




@media only screen and (max-width: 800px){

    .fondoreuniones{
        visibility: hidden;
        display:none;
    }

    .contenedorCarrucel{
        padding: 10px 10px;
    }
    .encabezadoCelProgramas{
        visibility: visible;
        display: grid;
    }
}

