.presentacio{

    width:100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    
}


.contenedor{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 720px;
    z-index: 0;
}


