.contenedor{
    display: grid;
    grid-template-columns: 40% auto;
    z-index: 0;
}


.imagenFlecha{
    padding: 25% 0;
    width: 110%;
    z-index: 1;
    position: relative;
}
.nombreflecha{
    color: #fff;
    font-size: 170%;
    position: relative;
    left: 70%;
    top: 51%;   
    z-index: 2;
}
.texto{
    background-color: blue;
    z-index: 0;
}

.presentacio{
    height: 770px;
 
}
