.contenedorFlecha{
    display: grid;
    align-items: center;
    width: 126%;
   
}

.imagenFlecha{
    width: 100%;
}

.nombreFlecha {
    color: #fff;
    position: relative;
    font-size: 30px;
    left: -38%;
    bottom: -7px;
    animation: ingresoflecha;
    animation-duration: 1s;
   
    
}

@keyframes ingresoflecha {

   0%{
    opacity: 0;
    translate: -100px;
   } 
   100%{

   } 
}