
.App{
  text-transform: none !important;
}
.logoSecretaria {
  margin: 10px 5px !important;
  width: 150px !important;
  height: auto;
}




.nav-link {
  padding: 0px 10px !important;
  justify-content: center;
  text-transform: capitalize;
}

.nav-link:hover {
  transition: 1s;
  text-shadow: 0px 0px 10px black;
}
